:root {
    --mainColor: #ed4c21;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Start General Rules */

div.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px auto;
}

hr {
    border: 1px solid var(--mainColor, #ed4c21);
    width: 30px;
    margin: 15px 0;
}

button {
    width: 120px;
    height: 38px;
    color: white;
    background-color: var(--mainColor, #ed4c21);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: thin;
}

button:hover {
    background-color: #d1441d;
}


/* End General Rules */

@media (min-width: 991px) {
    .container {
        width: 750px;
    }
}

.landing {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 250px;
}

.landing .overlay {
    background-color: var(--mainColor, #ed4c21);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 80%;
}

.landing .landing-image {
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.intro .register {
    width: calc(50% - 15px);
    background-color: #122333;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin-top: -200px;
    z-index: 2;
}

@media (max-width: 767px) {
    .intro .register {
        width: 100%;
    }
}

.intro .register h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}

.intro .register ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.intro .register ul li {
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 14px;
    position: relative;
}

.intro .register ul li:before {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 0%;
    color: #6f9f3c;
}

.intro .intro-text {
    padding: 15px;
    border: 1px solid var(--mainColor, #ed4c21);
    border-radius: 5px;
    width: calc(50% - 15px);
    margin-top: 20px;
    line-height: 1.8;
}

@media (max-width: 767px) {
    .intro .intro-text {
        width: 100%;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0;
}

.features .feature {
    width: calc(33.333% - 10px);
    background-color: #f2f8fa;
    padding: 15px;
}

@media (max-width: 767px) {
    .features .feature {
        width: 100%;
        margin-bottom: 15px;
    }
}

.features .feature .counter {
    color: var(--mainColor, #ed4c21);
    font-weight: 400;
    font-size: 18px;
}

.features .feature .feature-title {
    text-transform: uppercase;
    font-weight: 300;
    color: #222;
    margin: 15px 0;
}

.features .feature .feature-desc {
    padding-right: 20px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 15px;
}

.features .feature .more a {
    text-decoration: none;
    color: var(--mainColor, #ed4c21);
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

.info {
    background-image: url("../streets.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 300px; */
    padding: 20px;
    background-color: yellow;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.info .overlay {
    position: absolute;
    background-color: #26323b;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 75%;
    border-radius: 5px;
}

.info .col {
    width: calc(50% - 20px);
    background-image: url("streets.jpg");
    z-index: 1;
    color: white;
}

@media (max-width: 767px) {
    .info .col {
        width: 100%;
    }
    .info .col.two {
        display: none;
    }
}

.info .col .info-image {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.info .col.one {
    padding: 25px 0;
}

.info .col .info-title {
    margin: 5px 0;
}

.info .col .info-desc {
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 14px;
}

.info .col.one button {
    text-transform: uppercase;
    font-size: 14px;
}